.board-title {
  padding: 15px;
  text-align: center;
  color: rgb(75, 0, 224);
}

.board-tbl {
  width: 80%;
  margin: 20px auto;
  border-spacing: 0;
}

.board-tbl > thead > tr > th {
  background-color: rgb(75, 0, 224);
  color: white;
}

.board-tbl th,
.board-tbl td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgb(75, 0, 224);
}

.board-tbl .board-list-title {
  text-align: left;
}

.write-btn {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}

.write-btn > a:hover {
  text-decoration: underline;
}
